# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Roblox Studio files (binary)
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.rbxl.autosaves
*.rbxlx.autosaves

# Build/output
build/
out/
dist/

# Dependencies (Wally)
Packages/

# Logs
*.log
